body {
    width: 400px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    margin: 0;
    font-family: sans-serif;
  }
  
  #waniKaniFrameContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }