body {
  width: 250px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  margin: 0;
  font-family: sans-serif;
}

.logo {
  text-align: center;
}

#apiKeyBox {
  text-align: center;
}

#waniKaniFrameContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
